
 <%= form_tag("edit_propose?eventsid="+@event_to_show.eventsid.to_s) do %>
 <%= submit_tag("save", class: "btn btn-primary") %>
 <%= submit_tag("delete", class: "btn btn-primary") %>
 <script src="assets/bootstrap_min.js"></script>
 <table class="table table-striped">
	 	<tr>
	 		<td>Event Name:</td>
	 		<td><%= text_field_tag(:eventname, @event_to_show.eventname, class: "form-control") %></td>
	 	</tr>
	 	<tr>
	 		<td>Date:</td>
	 		<td>
	 			<input type="date" name="bdaytime" id="date_select" class="form-control" >
	 		</td>
	 	</tr>
	 	<tr>
	 		<td>Start At:</td>
	 		<td>
	 			
	 			<input type="time" name="bdaytime2" id="start_select" value="15:00" class="form-control" >
	 			<%=  text_field_tag(:starttime, @event_to_show.starttime, style:"display:none") %></td>
	 	</tr>
	 	<tr>
	 		<td>End By:</td>
	 		<td>
	 			<input type="time" name="bdaytime3" id="end_select" value="15:00" class="form-control" >
	 			<%= text_field_tag(:endtime,  @event_to_show.endtime, style:"display:none") %>
	 		</td>
	 	</tr>

	 	<tr>
	 		<td>Place:</td>
	 		<td><%= text_field_tag(:place,  @event_to_show.place,class: "form-control") %></td>
	 	</tr>
	 	<tr>
	 		<td>Groups:</td>

	 		<td>
	 			<div class="btn-group" data-toggle="buttons" id="group_show">
 				</div>
	 			<%= text_field_tag(:groupname,"",  id: "group", style:"display:none")%></td>
	 	</tr>
	 	<tr>
	 		<td>Description:</td>
	 		<td><%= text_area_tag(:desp,  @event_to_show.desp,class: "form-control") %></td>
	 	</tr>

	</table>

 <% end %>
 <%= link_to "Discard Editing and Go Back To Calendar Week View" , calendar_show_path(week_start_para: @event_to_show.starttime) %>
 <p></p>
 <%= link_to "Discard Editing and Go Back To Calendar Month View", calendar_show_month_path(month_start: @event_to_show.starttime) %>

 <script>
 	var groups=new Array();
 	$('table input').css("width", window.innerWidth*0.75+"px")
 	$('table textarea').css("width", window.innerWidth*0.75+"px")
 	$("#date_select").css("wdith",window.innerWidth*0.25+"px")
 	$("#start_select").css("wdith",window.innerWidth*0.25+"px")
 	$("#end_select").css("wdith",window.innerWidth*0.25+"px")
 	//$('#group').hide();
 	<% begin %>
 		<% session[:current_group].each do |e| %>
 		<% if e!=nil && e!=""%>
 			groups.push("<%= e %>");
 			$('#group_show').append("<label class='btn btn-primary'><input type='checkbox'> " + "<%= e %>" + "</label>")
 		<% end %>
 		<% end %>
 	<% rescue %>
 	<% end %>
 	groups.push("private");
 	$('#group_show').append("<label class='btn btn-primary'><input type='checkbox'> " + "pivate" + "</label>");
 	(function(){
 		var i=0;
 		var groupprop="<%= @event_to_show.groupname %>".split(';');
 		var groupstatus=new Array(groups.length);
 		for(i=0;i<groups.length;i++)
 		{
 			var j=groupprop.indexOf(groups[i]);
 			groupstatus[i]=0;
 			if(j!=-1)
 			{

 				$('#group_show label:nth-child('+(i+1)+')').button('toggle');
 				groupstatus[i]=1;
 			}
 			$('#group_show label:nth-child('+(i+1)+')').bind('click',
 				(function(k){
 					return function(){
 						if(k==groups.length-1 && groupstatus[groupstatus.length-1]==0)
 						{
 							
 							for(var s=0;s<groupstatus.length;s++)
 							{
 								if(groupstatus[s]==1)
 									$('#group_show label:nth-child('+(s+1)+')').button('toggle');
 								groupstatus[s]=0;
 							}
 							
 						}
 						else if(k!=groups.length-1 && groupstatus[groupstatus.length-1]==1)
 						{
 							groupstatus[groupstatus.length-1]=0;
 							$('#group_show label:nth-child('+(groupstatus.length)+')').button('toggle');
 						}
 						groupstatus[k]=1-groupstatus[k];

 						all_zero=1;
 						for(var s=0;s<groupstatus.length;s++)
 						{
 							if(groupstatus[s]==1)
 							{
 								all_zero=0;
 							}
 						}

 						if(all_zero==1)
 						{
 							groupstatus[groupstatus.length-1]=1;
 							$('#group_show label:nth-child('+(groupstatus.length)+')').button('toggle');
 						}

 						set_group();
 					}
 				})(i));

 		}
 		function set_group(){
 			var g=""
 			var s;
 			for(s=0;s<groups.length;s++)
 			{

 				if(groupstatus[s]==1)
 					g=g+groups[s]+";";
 			}
 			$('#group').val(g);

 		}
 		set_group();
 	})();

 	(function(){
 		function add_0(n){
 			if(n<10)
 				return '0'+n;
 			else
 				return n;
 		}
 		var starttime=new Date("<%= @event_to_show.starttime %>");
 		var endtime=new Date("<%= @event_to_show.endtime %>");
 		//date
 		var startdate=starttime.getFullYear()+"-"+add_0(starttime.getMonth()+1)+"-"+add_0(starttime.getDate());
 		$("#date_select").val(startdate);
 		$("#date_select").bind("click",function(){
 			if($("#date_select").val()=="")
 				$("#date_select").val(startdate);
 		})
 		$("#date_select").bind("change",function(){
 			 if($("#date_select").val()=="")
 				$("#date_select").val(startdate);
 			var new_date=$("#date_select").val().split('-');

 			starttime.setYear(new_date[0]);
 			starttime.setMonth(new_date[1]-1);
 			starttime.setDate(new_date[2]);
 			$('#starttime').val(starttime);
 			endtime.setYear(new_date[0]);
 			endtime.setMonth(new_date[1]-1);
 			endtime.setDate(new_date[2]);
 			$('#endtime').val(endtime);
 		})

 		//time
 		function set_times(obj,value,rec){
 			var time_default=add_0(value.getHours())+':'+add_0(value.getMinutes());
 			obj.val(time_default);
 			obj.bind("click",function(){
	 			if(obj.val()=="")
	 				obj.val(time_default);
 			})
 			obj.bind("change",function(){
	 			if(obj.val()=="")
	 				obj.val(time_default);
	 			var new_time=obj.val().split(':');
	 			value.setHours(parseInt(new_time[0]));
	 			value.setMinutes(parseInt(new_time[1]));
	 			rec.val(value);
 			})
 		}
 		set_times($('#start_select'),starttime,$('#starttime'));
 		set_times($('#end_select'),endtime,$('#endtime'));
		

 	}())

 </script>