<script src="assets/lib.js"></script>
<script>

<%= render 'get_event_month' %>
function mywday(wday){
	if(wday==0)
		return 7;
	else
		return wday-1;

}
var begin_offset=mywday(<%= @month_start_tmp.wday %>);
var this_year=<%= @month_start_tmp.year %>;
var this_month=<%= @month_start_tmp.mon %>;
var month_day_numb=<%= @month_next_tmp-@month_start_tmp %>;
function get_day_selector(day){
	var line=Math.ceil((day+begin_offset)/7);
	var colu=day+begin_offset-(line-1)*7
	return '#month tr:nth-child('+line+') td:nth-child('+colu+')'
}
function goto_wek(day){
	if(day>0)
		window.location.href="show?week_start_para="+this_year+'-'+this_month+'-'+day+'T00:00:00'+"<%= session[:time_offset] %>"+":00";
}

</script>
<ul class="pager">
      <li class="previous">
        <a href="show_month?month_start=<%= @month_last_tmp %>" >Last Month &rarr;</a>
      </li>

      <li>
      	<font size="5" color="black"><%= Date::MONTHNAMES[@month_start_tmp.mon] %>&nbsp;&nbsp;&nbsp;<%= @month_start_tmp.year %></font>
      </li>
      <li class="next">
       <a href="show_month?month_start=<%= @month_next_tmp %>" >Next Month &rarr;</a>
      </li>
</ul>
<ul>
  <li id="changed" style="background-color:red">Some of the event has been changed. Please reload this page.</li>
</ul>
<table class="table table-bordered" style="margin-bottom:0px;position:relative;table-layout:fixed;line-height:30px;">    
    <thead>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturaday</th>
        <th>Sunday</th>
    </thead>
</table>
<table class="table table-bordered" style="
margin-top:0px;position:relative;table-layout:fixed;height:120px;" id="month" >
		<script>
		var table_block_no=<%= @month_next_tmp-@month_start_tmp %>+mywday(<%= @month_start_tmp.wday %>)
		for(var i=0;i<Math.ceil(table_block_no/7.0);i++){
			$('#month').append("<tr>");
			for(var j=0;j<7;j++){
				$('#month tr:nth-child('+(i+1)+')').append("<td style='height:120px' onclick='goto_wek("+(j+i*7-begin_offset+1)+")'></td>");
			}
			$('#month').append("</tr>");
		}
	</script>

</table>
<script>
	for(var i=1;i<=month_day_numb;i++){
		$(get_day_selector(i)).html(i+"<ul></ul>");
		$(get_day_selector(i)).bind("mouseover",function(){$(this).css("background-color","white");})
		$(get_day_selector(i)).bind("mouseout",function(){$(this).css("background-color","inherit");})

	}
  function event_draw(){
  	for(var i=0;i<events.length;i++){
  		if(events[i].year==this_year && events[i].month==this_month)
  			$(get_day_selector(events[i].day)+' ul').append("<li><a href='show_event?eventtoshowid=" + events[i].eventsid+"'>"+events[i].desp+"</a></li>")
  
  	}
  }
  event_draw();

</script>
<!-- Polling -->
<script>
$('#changed').hide();
$.ajax({
        type:'get',
        url: 'check_change?type=load&period=month&start='+'<%= @month_start_tmp %>',
        success:function(){
            event_draw();
        }
    });
setInterval(function(){
    $.ajax({
        type:'get',
        url: 'check_change?type=check&period=month&start='+'<%= @month_start_tmp %>',
    });
},3000);
</script>