<script src="assets/lib.js"></script>
<script src="assets/bootstrap_min.js"></script>
<script>
var group_to_show="all"
var show_cata = new Array();
show_cata.push("all")
<% @all_group.each  do |k|%>
  <% if k!=nil %>
    group.push("<%= k %>");
    show_cata.push("<%= k %>");
  <% end %>
<% end %>
show_cata.push("private");
<%= render 'get_event_month' %>
function mywday(wday){
	if(wday==0)
		return 7;
	else
		return wday;

}
var begin_offset=mywday(<%= @month_start_tmp.wday %>)-1;
var this_year=<%= (@month_start_tmp+10).year %>;
var this_month=<%= (@month_start_tmp+10).mon %>;

var month_day_numb=<%= @month_next_tmp-@month_start_tmp %>;
function get_day_selector(day){
	var line=Math.ceil((day+begin_offset)/7);
	var colu=day+begin_offset-(line-1)*7
	return '#month tr:nth-child('+line+') td:nth-child('+colu+')'
}
function goto_wek(day){
	if(day>0)
		window.location.href="show?week_start_para="+this_year+'-'+this_month+'-'+day+'T00:00:00'+"<%= session[:time_offset] %>"+":00";
}

</script>
<ul class="pager">
      <li class="previous">
        <a href="show_month?month_start=<%= @month_last_tmp %>" >&larr;Last Month </a>
      </li>

      <li>
      	<font size="5" color="black"><%= Date::MONTHNAMES[@month_start_tmp.mon] %>&nbsp;&nbsp;&nbsp;<%= @month_start_tmp.year %></font>
      </li>
      <li class="next">
       <a href="show_month?month_start=<%= @month_next_tmp %>" >Next Month &rarr;</a>
      </li>
</ul>
<ul>
  <li id="changed" style="background-color:red;display:none">Some of the event has been changed. Please reload this page.</li>
</ul>
<table class="table table-bordered" style="margin-bottom:0px;position:relative;table-layout:fixed;line-height:30px;">    
    <thead>
        <th>
          Monday
          <div class="btn-group">
              <button class="btn" id="group_showing"></button>
                  <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" id="group_select_menu">
              </ul>
          </div>
        </th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturaday</th>
        <th>Sunday</th>
    </thead>
</table>
<table class="table table-bordered" style="
margin-top:0px;position:relative;table-layout:fixed;height:120px;" id="month" >
</table>
<script>
function init_table(){
  $('#month').html("")
  var table_block_no=<%= @month_next_tmp-@month_start_tmp %>+mywday(<%= @month_start_tmp.wday %>)
  for(var i=0;i<Math.ceil(table_block_no/7.0);i++){
    $('#month').append("<tr>");
    for(var j=0;j<7;j++){
      $('#month tr:nth-child('+(i+1)+')').append("<td style='height:120px' onclick='goto_wek("+(j+i*7-begin_offset+1)+")'></td>");
    }
    $('#month').append("</tr>");
  }
  for(var i=1;i<=month_day_numb;i++){
    $(get_day_selector(i)).html(i+"<ul></ul>");
    $(get_day_selector(i)).bind("mouseover",function(){$(this).css("background-color","white");})
    $(get_day_selector(i)).bind("mouseout" ,function(){$(this).css("background-color","inherit");})
  }
}
init_table();

function event_draw(){
  init_table();

 	for(var i=0;i<events.length;i++){
    
 		if(events[i].year==this_year && events[i].month==this_month){
      if(group_to_show=="all" || events[i].group.split(";").indexOf(group_to_show)!=-1)
 			  $(get_day_selector(events[i].day)+' ul').append("<li><a href='show_event?eventtoshowid=" + events[i].eventsid+"' style='font-weight:bold'>"+events[i].desp+"</a>&nbsp<a href='edit?eventsid="+events[i].eventsid+"''>Edit</a></li>")
    }
  
 	}
}
event_draw();
function get_mygroup(){
  $("#group_showing").html(group_to_show);
  $('#group_select_menu').html("");
  for(var i=0;i<show_cata.length;i++){
    var a_group0=$("<li>");
    var a_group1=$("<a>",{ href: 'javascript:void(0)'});
    a_group1.html(show_cata[i]);
    a_group1.bind("click",(function(k){
      return function(){
        group_to_show=show_cata[k];
        $("#group_showing").html(group_to_show);
        event_draw();
      }
    })(i));
    a_group1.appendTo(a_group0);
    a_group0.appendTo('#group_select_menu')
  }
}
get_mygroup();
</script>
<!-- Polling -->
<script>
(function(){
    var server_date = new Date("<%= @month_start_tmp %>");
    var client_date = new Date();
    client_date.setMonth(server_date.getMonth())

    var client_firstday=new Date();
    
    client_firstday.setMonth(server_date.getMonth());
    client_firstday.setDate(1);
    client_firstday.setHours(0);
    client_firstday.setMinutes(0);
    client_firstday.setSeconds(0);
    client_firstday.setMilliseconds(0);
    $.ajax({
            type:'get',
            url: 'get_group?type=month',
    });
    $('#changed').hide();
    $.ajax({
            type:'get',
            url: 'check_change?type=load&period=month&start='+client_firstday.toString(),
            success:function(){

                event_draw();
            }
        });
    setInterval(function(){
        $.ajax({
            type:'get',
            url: 'check_change?type=check&period=month&start='+client_firstday.toString(),
        });
    },3000);
}())
</script>