    <script src="assets/lib.js"></script>
    <script src="assets/bootstrap_min.js"></script>
    <style type="text/css">

            .panel {
                display:none;
            }
            .selected {
                background-color:red;
            }
            .mouseover {
                background-color:gray;
            }

            .inlineform {
                display: inline-block;
            }
            #text_event{
                width:400px;
            }
            #group_encoded{
                display:none;
            }
            #time_encoded{
                display:none;
            }
            body {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        </style>
        <script>

            //global initialization
            //get_group();
            //get_event(1);
            //if (<%= params[:week_start_para]==nil %>)
            //    window.location="show?week_start_para="+(new Date())
            var show_cata = new Array();
            show_cata.push("all")
            <% @all_group.each  do |k|%>
              <% if k!=nil %>
                group.push("<%= k %>");
                show_cata.push("<%= k %>");
              <% end %>
            <% end %>
            show_cata.push("private");
            
            events.length=0;
        
            <%= render 'get_event_group' %>

            //combine_event();
            
            //add
            add_init();
            
            var select_mode = 0;
            function time_over(h, d) {
                if (select_mode == 0) {
                    $('#week tr:gt(0):eq(' + h + ') td:eq(' + d + ')').addClass("mouseover");
                }
            }
            function time_out(h, d) {
                if (select_mode == 0) {
                    $('#week tr:gt(0):eq(' + h + ') td:eq(' + d + ')').removeClass("mouseover");
                }
            }
            function event_start(h, d) {
                //var time_show = document.getElementById("time_event");
                time_out(h, d);
                if (select_mode == 0) {
                    

                    select_mode = 1;
                    add_event(d, h);
                    $('#week tr:gt(0):eq(' + h + ') td:eq(' + d + ')').addClass("selected");
                    //alert(h+","+d);
                }
                else {
                    //time_show.innerHTML = add_time_desp();
                    var div = document.getElementById("reg_event");
                    //div.style.top = 500+"px";
                    //582 is the standard width
                    if (event.clientX + $(".panel").width() <= window.innerWidth || window.innerWidth<582)
                        $(".panel").css("left", event.clientX + "px");
                    else
                        $(".panel").css("left", (window.innerWidth - 582-$("#cancel").width())+"px");

                    $(".panel").css("top", (event.clientY+document.body.scrollTop) + "px");
                    
                    $(".panel").show();
                    var panelheight = $("#private_button").offset().top + 2*$("#private_button").height() - $(".panel").offset().top;
                    $(".panel").css("height", panelheight + "px");
                    select_mode = 0;
                }

            }
            function event_select(h, d) {
                if (select_mode == 1) {
                    //var time_show = document.getElementById("time_event");
                    add_event(d, h);
                    $('#week tr:gt(0):eq(' + h + ') td:eq(' + d + ')').addClass("selected");
                }
            }

            function event_submit() {
                var tex = document.getElementById("text_event");
                var rec = new Object();
                rec = add_submit(tex.value, button_status);
                $('#group_encoded').val(rec.g);
                $('#time_encoded').val(rec.t);
                event_clean();
                $(".panel").hide();
                event_draw();
            }
            
            function event_cancel() {
                add_event_clean();
                event_clean();
                $(".panel").hide();
                event_draw();
            }

            var button_status = new Array();
            for (var i = 0; i < group.length; i++) {
                button_status[i] = 0;
            }
            button_status[group.length] = 1;
       

            function event_group(i) {
                button_status[i] = 1 - button_status[i];
                //alert(button_status[0] + "," + i + "," + group.length);
                if (i == group.length && button_status[i] == 1) {
                    for (var j = 0; j < group.length; j++)
                        if (button_status[j] == 1) {
                            button_status[j] = 0;
                            $('#group_selection button:nth-child(' + (j+1) + ')').button('toggle');
                        }
                }
                if (i != group.length && button_status[group.length] == 1) {
                    button_status[group.length] = 0;
                    $('#group_selection button:nth-child(' + (group.length + 1) + ')').button('toggle');
                }
            }
            
            //draw
            function event_clean() {
                $('#week div:not(.btn-group)').remove();
                $('#week tr td').removeClass("selected");
                
            }

            var event_blocks = new Array();
            var group_to_show = "all";
            function event_draw() {
                for (var j = 1; j <= 7; j++) {
                    var event_today = get_event_by_day(j);
                    var posi_rec = event_position_new(event_today);
                    //var event_concu = event_concurrency(event_today);
                    //var loffset = event_show_position(event_today, event_concu);
                    
                    //event_sorted_today
                    //event_today = event_sorted_today(event_today, event_concu);
                    //event_sorted_concurrency
                    //event_concu = event_concu.sort(function (a, b) { return a - b; });

                    for (var i = 0; i < event_today.length; i++) {
                        
                        if (group_to_show != "all" && event_today[i].group.split(";").indexOf(group_to_show)==-1)
                            continue;

                        var d = j;
                        var h0 = event_today[i].start;
                        var h1 = event_today[i].end;

                        var ele = $('#week tr:nth-child(' + (2 + Math.floor(2 * h0)) + ') td:nth-child(' + (d + 1) + ')')
                        var div_posi_x = ele.offset().top - $('#week').offset().top + (2 * h0 - Math.floor(2 * h0)) * 2*ele.height();
                        var div_posi_y = ele.offset().left - $('#week').offset().left;
                        var win = document.createElement("div");
                        var t = document.createElement("p");
                        var desp = document.createElement("p");
                        
                        //check how many have been drawn
                        var drawn = posi_rec[i].colum_no;
                        //for (var k = 0; k < i; k++) {
                        //    if(isconcurr(event_today[k].start,event_today[k].end,event_today[i].start,event_today[i].end)==1)
                        //        drawn=drawn+1;
                        //}

                        //width and start point
                        

                        var widthi = 1.0 / posi_rec[i].block_length * ele.width();//0.9 is the scalar factor
                        var leftmost = div_posi_y+ drawn / posi_rec[i].block_length * ele.width();
                        win.style.position = "absolute";
                        win.style.height = 2 * ele.outerHeight() * (h1 - h0) + "px";
                        win.style.width = widthi + "px";
                        win.style.top = div_posi_x + "px";
                        win.style.left = leftmost + "px";
                        win.style.backgroundColor = event_color[9];
                        win.className = "well well-sm";
                        //win.onmouseover=(function(){
                        //    var s=1;
                        //    return function(){
                        //        s=1-s;
                        //        win.style.backgroundColor = event_color[5+s];
                        //   }        
                        //}());
                        //win.onmouseout=function(){win.style.backgroundColor = event_color[2];}
                        //win.id = "event" + i + j;
                        //win.onclick = function () { event_click(even_today[i].desp); };
                        
                        //add event method here!

                        //t.innerHTML = time_slot(h0 * 2, 24) + "-" + time_slot(h1 * 2, 24);
                        desp.innerHTML = "<a href='show_event?eventtoshowid=" + event_today[i].eventsid + "'>" + event_today[i].desp + "</a>";
                        desp.innerHTML+="&nbsp<a href='edit?eventsid="+event_today[i].eventsid+"''>Edit</a>"
                        desp.style.color = "yellow";
                        //win.appendChild(t);
                        win.appendChild(desp);
                        
                        $('#week').append(win);
                        //$('#week div').hide();
                        // $('#week tr:gt(0):eq(' + h0 + ') td:eq(' + d + ')').addClass("selected");
                    }
                    //alert(events[0].desp);
                }
                $('#week .well').css("word-wrap","break-word");
            }
            function event_draw_by_group(groupname){
                event_clean();
                group_to_show=groupname;
                $("#group_showing").html(groupname);
                event_draw();
            }



        </script>
    </head>
    <body>
        <ul class="pager">
              <li class="previous">
                <a href="show?week_start_para=<%= @week_last_tmp %>" >&larr;Last Week</a>
              </li>
              <li id="changed" style="background-color:red">Some of the event has been changed. Please reload this page.</li>
              <li class="next">
               <a href="show?week_start_para=<%= @week_next_tmp %>" >Next Week &rarr;</a>
              </li>
        </ul>

 
        <table class="table table-bordered" style="margin-bottom:0px;position:relative;table-layout:fixed;line-height:30px;">    
            <thead>
                <tr>
                <th>
                    <%= link_to "Month View", calendar_show_month_path(month_start: @week_start_tmp), :class=>"btn" %>
               
                </th>
                <% [0,1,2,3,4,5,6].each do |i| %>
                    <th><%= (@week_start_tmp+i).year %>-<%= (@week_start_tmp+i).mon %>-<%= (@week_start_tmp+i).day %></th>
                <% end %>

                </tr>
                <tr>
            </thead>
        </table>
        <table class="table table-bordered" style="
margin-top:0px;position:relative;table-layout:fixed;line-height:30px;" id="week" onselect="return false" >
            <thead style="table-layout:fixed"> 
                <th>
                    <div class="btn-group">
                        <button class="btn" id="group_showing"></button>
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="group_select_menu">
                        </ul>
                        <script>
                        $("#group_showing").html(group_to_show);
                        
                        for(var i=0;i<show_cata.length;i++){
                                $('#group_select_menu').append("<li> <a href='javascript:void(0)' onclick=event_draw_by_group(show_cata["+i+"])>"+show_cata[i]+"</a></li>");

                        }
                        </script>
                    </div>
               
                </th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturaday</th>
                <th>Sunday</th>
                </tr>
            </thead>
            <tbody id="week_event">
              <script>
                  var i = 0;
                  var j = 0;
                  for (i = 0; i < 48; i++) {
                      document.write("<tr>");
                      document.write("<td>" + time_slot(i, 24) + "-"+time_slot((i+1)%48, 24)+ "</td>");
                      for (j = 1; j < 8; j++) {
                          document.write("<td onclick='event_start(" + i + "," + j + ")' onmouseover='time_over(" + i + "," + j + ")' onmouseout=time_out(" + i + "," + j + ") onmousemove='event_select(" + i + "," + j + ")'>&nbsp;</td>");
                      }
                      document.write("</tr>");
                  }
                  event_draw();
              </script>
             </tbody>
            
        </table>
        <div class="panel" id="reg_event" style="position:absolute;height:100px;width:600px;background-color:white">
            <table id="event_enter">
                <tr>
                    <%= form_tag("create_event",remote:true) do %>
                    <td>Event&nbsp;&nbsp;&nbsp;:</td>
                    <td><%= text_field_tag(:text_event) %></td>
                        <!--<td><input type="text" id="text_event" data-provide="typeahead" style="width:400px;"/></td>-->
                        
                    <td><%= submit_tag("submit",onclick: "event_submit()", class: "btn btn-primary" ) %>
                    <!--<td><input value="submit" onclick="event_submit()" class="btn btn-primary" /></td>-->
                        
                    <td><%= text_field_tag(:group_encoded) %></td>
                        <!--<td><input type="text" id="group_encoded" style="width:400px;display:none"/></td>-->
                    <td><%= text_field_tag(:time_encoded) %></td>
                        <!--<td><input type="text" id="time_encoded"  style="width:400px;display:none"/></td>-->
                    <% end %>
                    <td><button type="button" id="cancel" value="cancel" onclick="event_cancel()" class="btn btn-primary" />cancel</td>
                </tr>
            </table>
                
                Groups:
                 <div class="btn-group" data-toggle="buttons"  id="group_selection">

                 </div>
                <script>
                    function get_mygroups(){
                        $('#group_selection').html("");
                        for (var i = 0; i < group.length; i++) {
                             $('#group_selection').append("<button type='button' class='btn btn-primary' onclick='event_group(" + i + ")'>" + group[i] + "</button>");
                             
                         }
                         $('#group_selection').append("<button type='button' id='private_button' class='btn btn-primary' onclick='event_group(" + i + ")'>Private</button>");
                         $('#private_button').button('toggle');
                    }
                    get_mygroups();
                </script>
                
            
        </div>
        <!-- Polling -->
        <script>
        $.ajax({
                type:'get',
                url: 'set_time_offset?today='+(new Date()).toString(),

        });
        $.ajax({
                type:'get',
                url: 'get_group?type=week',
        

        });
        $('#changed').hide();
        $.ajax({
            type:'get',
            url: 'check_change?type=load&period=week&start='+'<%= @week_start_tmp %>',
            success:function(){
                event_draw();
            }
        });
        
        setInterval(function(){
            $.ajax({
                type:'get',
               url: 'check_change?type=check&period=week&start='+'<%= @week_start_tmp %>',
            });
        },10000);
        </script>
