
<h1><%= @event_to_show.eventname %></h1><span><%= link_to "Edit The Event", calendar_edit_path(eventsid: @event_to_show.eventsid) %></span>
<table class="table table-striped">
 	<tr>
 		<td>Event Name:</td>
 		<td><%= @event_to_show.eventname %></td>
 	</tr>
 	<tr>
 		<td>Start At:</td>
 		<td id="st"></td>
 	</tr>
 	<tr>
 		<td>End By:</td>
 		<td id="et"></td>
 	</tr>
 	<tr>
 		<td>Description:</td>
 		<td><%= @event_to_show.desp %></td>
 	</tr>
 	<tr>
 		<td>Place:</td>
 		<td><%= @event_to_show.place %></td>
 	</tr>
 	<tr>
 		<td>Groups:</td>
 		<td>
 			<% @groupname_to_show.each do |e| %>
 				<% if e=="private" %>
 					<a href="javascript:void(0)">
	            	    <button type="button" class="btn btn-primary btn-xs">private</button>
	            	</a>
	            <% else %>
	 				<a href="<%='/group/show_profile/'+@groupid_to_show[@groupname_to_show.index(e)].to_s %>">
	            	    <button type="button" class="btn btn-primary btn-xs"><%= e %></button>
	            	</a>
	            <% end %>
	        <% end %>
 		</td>
 	</tr>
</table>
<%= link_to "Go Back To Calendar Week View", calendar_show_path(week_start_para: @event_to_show.starttime) %>
 <p></p>
<%= link_to "Go Back To Calendar Month View", calendar_show_month_path(month_start: @event_to_show.starttime) %>
<script>
	$('#st').html(new Date("<%= @event_to_show.starttime %>"))
	$('#et').html(new Date("<%= @event_to_show.endtime   %>"))
</script>


