<h1>Sqltest#test</h1>
<p>Database Connect test <%= @result%> </p>

<div>
<% tname=@tablename%>
<% tname.each  do |name| %>
	<a href="#<%= name %>"><%= name %></a>
<% end %>
</div>
<%= form_tag("/sqltest/test", method: "post") do %>
  <%= label_tag(:username, "username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "password:") %>
  <%= text_field_tag(:password) %>
  <%= submit_tag("Login") %>
<% end %>

<p><%= @uid %></p>
<hr>
<div>groups</div>
<hr>
<table border='1'>
<tr>
	<th>
	<% @test3.first.each do |k,v| %>
			<%= k.to_s %>
		</th>
	<% end %>	
</tr>

<% @test3.each do |row| %>
<tr>
	<% row.each do |k,v| %>
		<td>	
			<%= v.to_s %>
		</td>
	<% end %>
</tr>
<% end %>
</table>

<table border='1'>
<tr>
	<% @value.first.each do |k,v| %>
		<th>
			<%= k.to_s %>
		</th>
	<% end %>	
</tr>

<% @value.each do |row| %>
<tr>
	<% row.each do |k,v| %>
		<td>	
			<%= v.to_s %>
		</td>
	<% end %>
</tr>
<% end %>
</table>

<% @alltable.each_with_index do |table,index| %>
<hr>
<h3 id="<%=@tablename[index]%>" ><%=@tablename[index]%></h3>
	<% if table !=nil then%>
	<table border='1'>
	<tr>
		<% table.first.each do |k,v| %>
			<th>
				<%= k.to_s %>
			</th>
		<% end %>	
	</tr>

	<% table.each do |row| %>
	<tr>
		<% row.each do |k,v| %>
			<td>	
				<%= v.to_s %>
			</td>
		<% end %>
	</tr>
	<% end %>
	</table>
	<%end%>
<% end %>

