<%= javascript_include_tag :defaults %>
<link href="offcanvas.css" rel="stylesheet">

<div class="panel-group" id="accordion">

  <% if (@my_joined_group_names != nil) %>
    <% if (@my_joined_group_names.count >= 1) %>

      <% @group_per_page = 5 %>
      <% index_begin = (@pid - 1) * @group_per_page %>
      <% index_end = [@pid * @group_per_page - 1, @my_joined_group_names.count - 1].min %> 
      <% indx = index_begin %>

      <% while (indx <= index_end )%>
        <% div_id = 'collapse_panel_' + indx.to_s %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#<%= div_id %>" >
                  <span class="badge"><%= @my_joined_group_info[indx]["size"] > 0 ? @my_joined_group_info[indx]["size"] : 111 %></span> &nbsp;
                  <b><%= @my_joined_group_names[indx] %></b>
                <div align = "right"> 
                  <a href="<%='/group/show_profile/'+@my_joined_group_ids[indx].to_s%>">
                    <button type="button" class="btn btn-primary btn-xs">Manage Group</button>
                  </a>
                  <a href="<%= "/group/quit_group/"+ @my_joined_group_ids[indx].to_s%>">
                    <button type="button" class="btn btn-danger btn-xs">Quit Group</button>
                  </a>
                </div>
              </a>
            </h4>
          </div>
          <div id="<%= div_id %>" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="container">
                <div class="row row-offcanvas row-offcanvas-right">
                  <div class="row">
                    <div class="col-xs-12 col-sm-3">
                      <% if (@my_joined_group_info[indx]["image"] != nil && @my_joined_group_info[indx]["image"] != "image" && @my_own_group_info[indx]["image"] != "Group Image") %>
                        <%= image_tag(@my_joined_group_info[indx]["image"].to_s) %>
                      <% else %>
                        <% url = (@my_joined_group_ids[indx] % 10).to_s %>
                        <%= image_tag("groups/"+ url +".jpg") %>
                      <% end %>
                    </div>
                    <div class="col-xs-6 col-sm-9">
                      <p><b>Group Name:      </b><%= @my_joined_group_names[indx] %></p> 
                      <p><b>When You Joined: </b>
                        <% if @my_joined_group_info[indx]["time"] != nil %>
                          <%= @my_joined_group_info[indx]["time"] %>
                        <% else %>
                         <%= "2013-11-11 11:11:11" %>
                        <% end %>
                      </p>
                      <p><b>Group Tags:      </b>
                        <% t = 0 %>
                        <% while t < 3 %>
                          <span class="label label-primary">
                            <%= 'tag'+ @my_joined_group_info[indx]["categroy"] +  '-' + t.to_s %>
                          </span> &nbsp;
                          <% t = t + 1 %>
                        <% end %></p>
                      <p><b>Group Description:</b>
                        <% if @my_joined_group_info[indx]["description"] != nil %>
                          <%= @my_joined_group_info[indx]["description"] %>
                        <% else %>
                          <%= "This course explores advanced topics in highly scalable Internet services and the underlying systems architecture. Large scale web sites and software delivered as a service are pervasive, and are running on millions of servers. Web 2.0 has redefined the web user experience and new infrastructure technologies have redefined what it takes to launch a state-of-the-art web site. Amazon's web services, such as Simple Storage Service (S3) and Elastic Compute Cloud (EC2), and Google's Compute Engine are changing the game for hosting scalable fault-tolerant sites. New programming frameworks, such as Ruby on Rails, are making the development of interesting sites easier. Yet some concerns just don't go away: caching, load balancing, fail-over, redundancy, back-end databases, security, and monitoring to name a few." %>
                        <% end %>
                      </p>
                    </div>          
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <% indx = indx + 1 %>
      <% end %>

    <% end %>
  <% end %>

</div> 

<div class="col-xs-4 col-sm-8 col-md-offset-4">
<div class="pagination">
    <tr>
    <% page_num = (@my_joined_group_ids.count.to_f / @group_per_page).ceil %>
    <li><a href="<%='/group/show_joined/'+'1'%>"><b><%= '<<' %></b></a></li>
    <li><a href="#"><b><%= '...' %></b></a></li>
    <% page_indx = [@pid - 2, 1].max %>
    <% page_end_indx = [@pid + 2, page_num].min %>
    <% while page_indx <= page_end_indx %>
        <li><a href="<%='/group/show_joined/'+page_indx.to_s%>">
          <b><%= page_indx.to_s %></b>
        </a></li>      
        <% page_indx = page_indx + 1 %>
    <% end %>
    <li><a href="#"><b><%= '...' %></b></a></li>
    <li><a href="<%='/group/show_joined/'+page_num.to_s%>"><b><%= '>>' %></b></a></li>
    </tr>
</div> 
</div> 

<script src="../../dist/js/bootstrap.min.js"></script>
<script type="text/javascript" language="javascript">     
$(".collapse").collapse('show')
</script>