<%= javascript_include_tag :defaults %>
<div class="panel-group" id="accordion">
  <% if (@my_own_group_names != nil) %>
    <% if (@my_own_group_names.count >= 1) %>
      <% indx = 0 %>
      <% @my_own_group_names.each do |name| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#<%= 'collapse'+indx.to_s %>" >
                <%= name %>
              </a>
            </h4>
          </div>
          <div id="<%= 'collapse'+indx.to_s %>" class="panel-collapse collapse in">
            <div class="panel-body">
                <% group_status = @my_own_groups[indx].inspect %>
                <% div_id = 'collapse_panel_'+indx.to_s %>
                <%= link_to "group_status", { :action => :show_members}, :remote => true %>
                <div id = <% div_id %>>
                </div>
            </div>
          </div>
        </div> 
        <% indx = indx + 1 %>
      <% end %>
    <% end %>
  <% end %>
</div> 

<script>  
$(".collapse").collapse('hide')
</script>