    <link href="offcanvas.css" rel="stylesheet">

    <div><p>&nbsp;</p><p>&nbsp;</p></div>
    
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <ul class="nav nav-pills nav-stacked">

            <li><%= link_to "My Own Groups", group_show_path %></li>
            <li class="active"><%= link_to "My Joined Group", group_show_joined_path %></li>
            <li><%= link_to "Search Groups", group_search_group_path %></a></li>
            <li><%= link_to "Create Groups", group_create_group_path %></a></li>
            <li><a href="#">Recommending Groups</a></li>
          </ul>
        </div><!--/span-->

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          
          <div id = "group_list">
           
            <% test = false %>
            <% if test%>
              <%= @my_joined_group_ids %>
              <%= @my_joined_group_names %>
              <%= @my_joined_group_info %>
            <% else %>
              <%= render :partial => 'group/show_joined_page' %>
            <% end %>
          </div>
          
        </div><!--/span-->

      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; FaceCalendar 2013</p>
      </footer>

    </div><!--/.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="bootstrap.js"></script>
    <script src="offcanvas.js"></script>